.chat-textarea {
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  min-width: 600px;
  width: 800px;
  
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}